DATABASE_URL=postgresql://booktrack_admin:8f8c4b5e99a1d68654f8dd68@booktrack-postgres:5432/booktrack
SECRET_KEY=7db3ea0acd1ed8013e9f4cc988fca4be11fa4fedf5183b508a3bfc97b99652c6
ACCESS_TOKEN_EXPIRE_MINUTES=1440
CORS_ORIGINS=https://caiza.byronrm.com
